/* FONTS */
@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-Regular.woff2") format("woff2"),
    url("../fonts/Karla-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-Italic.woff2") format("woff2"),
    url("../fonts/Karla-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Serif Display";
  src: url("../fonts/DMSerifDisplay-Regular.woff2") format("woff2"),
  url("../fonts/DMSerifDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Karla", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  background-color: #fff;
  color: #837d88;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* SITENAV */

.sitenav {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sitenav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */

.logo-img {
  display: block;
}

.sitenav-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 13px;
  line-height: 15.2px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.sitenav-item {
  margin-left: 25px;
}

.sitenav-item-bordered {
  margin-left: 35px;
}

.sitenav-link {
  color: #837d88;
  text-decoration: none;
  transition: background-color 0.3s ease,
  color 0.3s ease;
}

.sitenav-link:hover {
  color: #2c2830;
}

.sitenav-item-bordered .sitenav-link {
  display: block;
  padding: 12px 28px;
  border: 2px solid #2c2830;
  color: #2c2830;
}

.sitenav-item-bordered .sitenav-link:hover {
  background-color: #2c2830;
  color: #fff;
}


/* INDEX-FEATURES */
.index-features {
  padding-top: 150px;
  padding-bottom: 80px;
}

.index-features-title {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 96px;
  font-family: "DM Serif Display", "Times New Roman", serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 64px;
  color: #2c2830;
  letter-spacing: -1px;
}

.index-features-title::before {
  width: 150px;
  height: 1px;
  margin-bottom: 63px;
  background-color: #c396c6;
  content: "";
}

.index-features-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.index-feature {
  width: 350px;
  margin-right: 30px;
}

.index-feature::before {
  display: block;
  width: 86px;
  height: 86px;
  margin-bottom: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
}

.index-feature-fast::before {
  background-image: url("../images/icon-snappy-process.svg");
}

.index-feature-price::before {
  background-image: url("../images/icon-affordable-prices.svg");
}

.index-feature-people::before {
  background-image: url("../images/icon-people-first.svg");
}

.index-feature:nth-child(3n) {
  margin-right: 0;
}

.index-feature-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "DM Serif Display", "Times New Roman", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: #2c2830;
}
